.template-basic__wrapper {
    .left__section {
        max-width: 30%;
        min-width: 30%;

        .heading {
            background-color: #00cdbe;
        }
    }

    .right__section {
        max-width: 70%;
        min-width: 70%;
    }
}