.add__button-generic {
    position: absolute;
    right: 40%;
    top: 5px;
    cursor: pointer;
    border: 1px solid #1d1d1d;
    padding: 0 5px;
    font-size: 14px;

}

.delete-generic {
    position: absolute;
    right: 20%;
    cursor: pointer;
    color: #c91d12;
}